.card, .card-citation {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.content {
    display: flex;
}

.content-citation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 400;
    color: gray
}

.reverse {
    flex-direction: row-reverse;
}

.column {
    flex: 1;
    padding: 10px;
}

.description {
    font-style: italic;
    line-height: 1.2;
    text-align: center;

    margin-top: 12px;
}

.photo, .photo-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: rotate(-10deg);
    box-shadow: -5px 6px 26px -7px rgba(0,0,0,0.4);
}

.photo-reverse {
    transform: rotate(10deg);
}

.photo-area {
    height: 80%;
    width: 100%;
}

.photo > p {
    margin-top: 0px !important;
}

.photo-area > img {
    margin: 8px;
    width: 150px;
    max-width: 150px;
}